@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
}

/*HEADER*/
.nav-link{
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}

.nav-link:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
    transition: 0.5s ease;
}

/*MAIN*/
h1{
    color: hsl(240, 100%, 5%);
    font-size: 50px;
}

h2{
    color: hsl(35, 77%, 62%);
}

.btn{
    background-color: hsl(5, 85%, 63%);
    color: white;
    border-radius: 0;
}

.btn:hover{
    background-color: hsl(240, 100%, 5%);
    color: white;
    transition: 0.5s ease;
}

p{
    color: hsl(236, 13%, 42%);
}

#divNew{
    background-color: hsl(240, 100%, 5%);
}

.divImg img{
    max-width: 100%;
    max-height: 100%;
}

hr{
    color: white;
}

.span-new:hover{
    color: hsl(35, 77%, 62%) !important;
    cursor: pointer;
    transition: 0.5s ease;
}

.pNew{
    color: hsl(233, 8%, 79%);
}

h3{
    color: hsl(233, 8%, 79%);
    margin: 0;
}

.span-purple{
    color: hsl(240, 100%, 5%);
}

.span-purple:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
    transition: 0.5s ease;
}

/*MENU MOBILE*/
.pushbar{
    background: hsl(36, 100%, 99%);
    color: black;
    padding: 20px;
}

.pushbar .btn-cerrar{
    text-align: right;
}

.menu{
    margin-top: 75px;
}

.menu-mobile a{
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
}